<div class="search">
    <h1 class="search-text">Consultar dados de CNPJ grátis online</h1>

       
    

        
        

        {{#if @cnpjIsValid}}
             <div class="input-wrapper-false">
                <AlertIcon />
                <Input
                class='search-input-false'
                @type="text"
                @value={{@cnpj}}
                placeholder='Digite o número do CNPJ'
                id='cnpj-search'
                {{on 'input' @handleCnpj}}
                @enter={{@handleQuerry}}
                 />
                <button class="header-input-search">
                        <Search-icon />
                </button>
            </div>
        {{else}}
            <div class="input-wrapper">
                <Input
                class='search-input'
                @type="text"
                @value={{@cnpj}}
                placeholder='Digite o número do CNPJ'
                id='cnpj-search'
                {{on 'input' @handleCnpj}}
                @enter={{@handleQuerry}}
                 />
                <button class="header-input-search">
                    <Search-icon />
                </button>
            </div>
        {{/if}}
        

        
   
    

</div>